<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
    <title>Gestor de descargas</title>
</head>

<body class="flex flex-col justify-center items-center bg-gray-100 h-max">

    <div class=" bg-white rounded-lg shadow-lg p-10 w-full mx-auto h-screen">
        <div class="px-10 py-10 gap-5 ">
            <p class="text-4xl font-bold text-center justify-center">
                Directorio de descarga de archivos
            </p>
        </div>

        <!-- select con las optiones de compress -->
        <div class="px-10 py-10 gap-5 text-center justify-center font-bold ">
            <div>
                <label for="compress">Selecciona el tipo de compresión</label>
                <select name="compress" id="compress" class="bg-white border border-gray-400 rounded shadow px-2">
                    <option value="zip">zip</option>
                    <option value="gzip">gzip</option>
                    <option value="tar">tar</option>
                    <option value="tar.gz">tar.gz</option>
                    <option value="tar.bz2">tar.bz2</option>
                </select>
            </div>
        </div>


        <div class="grid grid-cols-6 px-10 py-10 gap-5 ">
            <% if (files) { %>
                <% files.forEach((file)=> { %>
                    <div class="flex flex-col justify-center items-center border border-gray-400 shadow p-10">
                        <img src="https://static.vecteezy.com/system/resources/previews/019/020/306/non_2x/the-document-file-icon-is-paper-with-a-label-and-text-vector.jpg"
                            alt="" class="w-40 h-40">
                        <br>
                        <p class="text-center">
                            <%= file %>
                        </p>
                        <br>
                        <button
                            class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
                            onclick="download(event)" data-file="<%= file %>">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
                            </svg>
                        </button>

                    </div>
                    <% }); %>
                        <% } %>

        </div>
        <div class="px-10 py-10 gap-5 text-center justify-center font-bold ">
            <div>
                Progreso de descarga de archivos: <span id="progreso"
                    class="bg-white border border-gray-400 rounded shadow px-2 mx-2">0</span>%
            </div>
        </div>

    </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    <script src="https://cdn.socket.io/4.2.0/socket.io.min.js"></script>
    <script>
        download = (event) => {
            const fileName = event.currentTarget.getAttribute('data-file');
            const typeCompress = document.getElementById('compress').value;
            body = JSON.stringify({
                fileName: fileName,
                typeCompress: typeCompress
            });
            fetch('http://localhost:3000/download', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: body
            }).then(data => {
                const file = new Blob([data], {
                    type: 'application/zip'
                });
                const fileURL = URL.createObjectURL(file);
                const link = document.createElement('a');
                link.href = fileURL;
                link.download = fileName + '.zip';
                link.click();
                URL.revokeObjectURL(fileURL);
            })
        }
    </script>

    <script>
        const socket = io('http://localhost:3000');
        socket.on('connect', () => {
            console.log('conectado al servidor de websockets');
        });
        socket.on('disconnect', () => {
            console.log('desconectado del servidor de websockets');
        });
        socket.on('update', (data) => {
            document.getElementById('progreso').innerHTML = data;
            console.log(data);
        });
    </script>

</body>

</html>